.fotorama__arr__arr {
    background: url("../img/fotorama/arrows.png") repeat scroll 0 0 transparent;
    height: 24px;
    left: 50%;
    margin-left: -32px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 40px;
}
.fotorama__arr--prev .fotorama__arr__arr {
    background-position: 1px 0;
    margin-left: 1px;
    width: 16px;
}
.fotorama__arr--next .fotorama__arr__arr {
    background-position: -13px 0;
    margin-left: -20px;
    width: 16px;
}